.part_1 .article .note1 {
  opacity: 0;
  transition: all 1.5s ease 2s;
  transition-property: opacity;
}

.part_1 .article .note2 {
  opacity: 0;
  transition: all 1.5s ease 2.5s;
  transition-property: opacity;
}

.part_1 .article .note3 {
  opacity: 0;
  transition: all 1.5s ease 3s;
  transition-property: opacity;
}

.animate .article .note {
  opacity: 1;
}

.part_1 .step_1 p{
  transition-property: opacity,transform;
}

.part_1 .step_2 p{
  transition: all 1.5s ease 3s;
  transition-property: opacity,transform;
}

.part_1 .step_3 p{
  transition: all 1.5s ease 5s;
  transition-property: opacity,transform;
}

.part_1 .step_1 .p1 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 1s;
}

.part_1 .step_1 .p2 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 1.5s;
}

.part_1 .step_1 .p3 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 2s;
}

.part_1 .step_1 .p4 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 2.5s;
}

.part_1 .step_1 .p5 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 2.5s;
}


.animate .step_1 .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p4 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p5 {
  opacity: 1;
  transform: translateY(0);
}

.part_1 .step_2 .p1 {
  opacity: 0;
  transform: translateY(0.1rem);
  transition: all .5s ease 4s;
}

.part_1 .step_2 .p2 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 4.5s;
}

.part_1 .step_2 .p3 {
  opacity: 0;
  transform: translateY(0.3rem);
  transition: all .5s ease 5s;
}

.animate .step_2 .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_2 .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_2 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.part_1 .step_3 .p1 {
  opacity: 0;
  transform: translateY(0.1rem);
  transition: all .5s ease 6s;
}

.part_1 .step_3 .p2 {
  opacity: 0;
  transform: translateY(0.2rem);
  transition: all .5s ease 6.5s;
}

.part_1 .step_3 .p3 {
  opacity: 0;
  transform: translateY(0.3rem);
  transition: all .5s ease 7s;
}

.animate .step_3 .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_3 .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_3 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.scale_1 {
  opacity: 1
  transform: scale(1.2, 1,2);
}

.scale_btn {
  animation: scale_btn 1.5s linear 6.5s infinite alternate;
}

@keyframes scale_btn {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 0.6;
  }
  50% {
    transform: scale(0.95, 0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.opacity_light1 {
  animation: opacity_note 1.5s linear 4s infinite alternate;
}

.opacity_light2 {
  animation: opacity_note 1.5s linear 4.5s infinite alternate;
}

.opacity_light3 {
  animation: opacity_note 1.5s linear 5s infinite alternate;
}

@keyframes opacity_note {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.item1 {
  transition: all .3s ease 0.8s;
  opacity: 0;
  background-position: 2.82rem 0.28rem;
}

.item1 .article {
  transition: all .3s ease 0.8s;
  opacity: 0;
  transform: translate(-0.2rem);
}

.item2 {
  transition: all .3s ease 1s;
  opacity: 0;
  background-position: -0.62rem 0.33rem;
}

.item2 .article {
  transition: all .3s ease 1s;
  opacity: 0;
  transform: translate(0.2rem);  
}

.item3 {
  transition: all .3s ease 1.2s;
  opacity: 0;
  background-position: 3.88rem 0;
}

.item3 .article {
  transition: all .3s ease 1.2s;
  opacity: 0;
  transform: translate(-0.2rem);
}

.animate .item1 {
  background-position: 2.62rem 0.28rem;
  opacity: 1;
}

.animate .item1 .article {
  transform: translate(0);
  opacity: 1;
}

.animate .item2 {
  background-position: -0.42rem 0.33rem;
  opacity: 1;
}

.animate .item2 .article {
  transform: translate(0);
  opacity: 1;
}

.animate .item3 {
  background-position: 3.68rem 0;
  opacity: 1;
}

.animate .item3 .article {
  transform: translate(0);
  opacity: 1;
}

.animate .step_3 {

}