/*第一页动画*/

.part_1 .article .opacity_note1 {
  opacity: 0;
  transition: all 1.5s ease .5s;
  transition-property: opacity;
}

.part_1 .article .opacity_note2 {
  opacity: 0;
  transition: all 1.5s ease 2.5s;
  transition-property: opacity;
}

.part_1 .article .opacity_note3 {
  opacity: 0;
  transition: all 1.5s ease 4s;
  transition-property: opacity;
}

.animate .article .note {
  opacity: 1;
}

.part_1 .step_1 .p1 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 1s;
}

.part_1 .step_1 .p2 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 1.5s;
}

.part_1 .step_1 .p3 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 2s;
}

.part_1 .step_1 .p4 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 2.5s;
}

.part_1 .step_1 .p5 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1s ease 3s;
}


.animate .step_1 .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p4 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_1 .p5 {
  opacity: 1;
  transform: translateY(0);
}

.part_1 .step_2 .p1 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 4s;
}

.part_1 .step_2 .p2 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 4.5s;
}

.part_1 .step_2 .p3 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 5s;
}

.animate .step_2 .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_2 .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate .step_2 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.part_1 .step_3 .p1 {
  opacity: 0;
  transition: opacity 1s ease 6s;
}

.part_1 .step_3 .p2 {
  opacity: 0;
  transition: opacity 1.5s ease 6.5s;
}

.part_1 .step_3 .p3 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 6.5s;
}

.animate .step_3 .p1 {
  opacity: 1;
}

.animate .step_3 .p2 {
  opacity: 1;
}

.animate .step_3 .p3 {
  opacity: 1;
  transform: translateY(0);
}

.scale_1 {
  opacity: 1
  transform: scale(1.2, 1,2);
}

.scale_btn2 {
  animation: scale_btn2 1.5s linear 7s infinite;
}

@keyframes scale_btn2 {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  25% {
    transform: scale(0.6);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.16);
    opacity: 0;
  }
}

.scale_btn3 {
  animation: scale_btn3 1.5s linear 8s infinite;
}

@keyframes scale_btn3 {
  0% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  25% {
    transform: scale(0.6);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.opacity_light1 {
  animation: opacity_note 1.5s linear 4s infinite alternate;
}

.opacity_light2 {
  animation: opacity_note 1.5s linear 6s infinite alternate;
}

.opacity_light3 {
  animation: opacity_note 1.5s linear 7.5s infinite alternate;
}

@keyframes opacity_note {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.amt_bg1 {
  animation: amt_bg 4s linear 1.5s infinite;
}

.amt_bg2 {
  animation: amt_bg 5s linear 2.5s infinite;
}

.amt_bg3 {
  animation: amt_bg 6s linear 3.5s infinite;
}

@keyframes amt_bg {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  10% {
    opacity: 1;
    transform: translateX(5rem);
  }
  50% {
    opacity: 1;
    transform: translateX(0rem);
  }
  95% {
    opacity: 1;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 0;
    transform: translateX(-6rem);
  }
}

/*第二页动画*/

.item1 {
  transition: all 1s ease 0.5s;
  opacity: 0;
  background-position: 2.82rem 0.28rem;
}

.item1 .article {
  transition: all 1s ease 0.5s;
  opacity: 0;
  transform: translate(-0.5rem);
}

.item2 {
  transition: all 1s ease 1s;
  opacity: 0;
  background-position: -0.62rem 0.33rem;
}

.item2 .article {
  transition: all 1s ease 1s;
  opacity: 0;
  transform: translate(0.5rem);
}

.item3 {
  transition: all 1s ease 1.5s;
  opacity: 0;
  background-position: 3.88rem 0;
}

.item3 .article {
  transition: all 1s ease 1.5s;
  opacity: 0;
  transform: translate(-0.5rem);
}

.animate .item1 {
  background-position: 2.62rem 0.28rem;
  opacity: 1;
}

.animate .item1 .article {
  transform: translate(0);
  opacity: 1;
}

.animate .item2 {
  background-position: -0.42rem 0.33rem;
  opacity: 1;
}

.animate .item2 .article {
  transform: translate(0);
  opacity: 1;
}

.animate .item3 {
  background-position: 3.68rem 0;
  opacity: 1;
}

.animate .item3 .article {
  transform: translate(0);
  opacity: 1;
}

/*第三页动画*/

.part_3 .theme_font {
  opacity: 0;
  transition: all 1s ease 1s;
  transition-property: opacity;
}

.part_3 .theme_p .p1{
  transform: translateY(0.5rem);
  opacity: 0;
  transition: all 1.5s ease 2s;
  transition-property: opacity,transform;
}

.part_3 .theme_p .p2{
  transform: translateY(0.5rem);
  opacity: 0;
  transition: all 1.5s ease 2.5s;
  transition-property: opacity,transform;
}

.part_3 .theme_p .p3{
  transform: translateY(0.5rem);
  opacity: 0;
  transition: all 1.5s ease 3s;
  transition-property: opacity,transform;
}

.part_3 .touch {
  opacity: 0;
  transition: all 1s ease 4s;
  transition-property: opacity;
}

.animate .theme_font{
  opacity: 1;
}

.animate .theme_p .p1{
  opacity: 1;
  transform: translateY(0);
}

.animate .theme_p .p2{
  opacity: 1;
  transform: translateY(0);
}

.animate .theme_p .p3{
  opacity: 1;
  transform: translateY(0);
}

.animate .touch {
  opacity: 1;
  z-index:2;
}

/*摇一摇*/
.shake_p1 .font {
  opacity: 0;
  transition: all 1.5s ease 1s;
  transform: translateY(1rem);
}

.shake_p1 .tip {
  opacity: 0;
  transition: all 1.5s ease 1.5s;
  transform: translateY(1rem);
}

.shake_p1 .shake  {
  opacity: 0;
  transition: all 1.5s ease 2s;
  transform: translateY(1rem);
}

.animate.shake_p1 .font {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p1 .tip {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p1 .shake {
  opacity: 1;
  transform: translateY(0);
}

.shake_p2 .result_font {
  opacity: 0;
  transition: all 1.5s ease 1s;
  transform: translateY(0.5rem);
}

.shake_p2 .volume {
  opacity: 0;
  transition: all 1s ease 1.5s;
}

.shake_p2 .sheet {
  opacity: 0;
  transition: all 1s ease 2s;
  transform: translateY(0.5rem);
}

.shake_p2 .article .tit {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 3s;
}

.shake_p2 .article .p1 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 3.5s;
}

.shake_p2 .article .p2 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 4s;
}

.shake_p2 .article .p3 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 4.5s;
}

.shake_p2 .article .p4 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 5.5s;
}

.shake_p2 .article .p5 {
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 1.5s ease 6s;
}


.shake_p2 .btn {
  opacity: 0;
  transition: all 1s ease 6s;
  transform: translateY(0.5rem);
}

.animate.shake_p2 .result_font {
  opacity: 1;
}

.animate.shake_p2 .volume {
  opacity: 1;
}

.animate.shake_p2 .sheet {
  opacity: 1;
}

.animate.shake_p2 .article .tit { 
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .article .p1 {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .article .p2 {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .article .p3 {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .article .p4 {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .article .p5 {
  opacity: 1;
  transform: translateY(0);
}

.animate.shake_p2 .btn {
  opacity: 1;
  transform: translateY(0);
}

